    /* <title>flex-normal</title> */

* {
  background-color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* flex-flow: row wrap; */
  /* justify-content: center; */
  height: 200vh;
  width: 100vw;
  align-content: end;
}

.box {
  height: 300px;
  width: 190px;
  border: 5px solid yellow;
  /* border-radius: 10%; */
  /* padding: 15px;
    margin: 15px; */
  background-color: red;
  /* text-align: center;
    align-content: center;
    flex-grow: 1; */
    order: 2;
}
